<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/layout/head') %>
    <link rel="stylesheet" href="/css/SMACSS/modules/appointment-cards-module.css">
    <title>Appointments</title>
    
</head>

<body>
    <header>
        <%- include('../../partials/layout/header') %>
    </header>
    <main>
        <% elems.forEach(elem=>{ %>
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <h3 class="title">Appointment</h3>
                    <h3 class="title">On: <%= elem.day %> </h3>
                    <h3>From: <%= elem.time_from.slice(0,2)+':'+elem.time_from.slice(2) %> </h3>
                    <h3>To: <%= elem.time_to.slice(0,2)+':'+elem.time_to.slice(2) %> </h3>
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>Dr/Clinic: <%= elem.doctor_name %> </h3>
                    <h3>Specialty: <%= elem.doctor_speciailty %> </h3>
                    <h3>Phone Number: <%= elem.phone_number %> </h3>
                    <h3>Address: <%= elem.doc_location %> </h3>
                    <a href="#">Cancel Appointment</a>
                </div>
            </div>
        </div>

        <% }) %>
    </main>
    <footer>
        <%- include('../../partials/layout/footer') %>
    </footer>
</body>

</html>