<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/layout/head') %>
    <title>Find Results</title>
</head>

<body>
    <header>

        <%- include('../../partials/layout/header') %>
    </header>
    <main>
        <% searchResults.forEach (searchResults=> { %>

        <section class="dr_card">
            <!-- <img src=""> -->
            <h3>Name : <%= searchResults.name %>
            </h3>
            <h3>Speciality : <%= searchResults.speciality %>
            </h3>
            <h3>Location : <%= searchResults.location %>
            </h3>
            <h3>Availibility : <%= searchResults.availability%></h3>
            <h3>Phone Number: <%= searchResults.phoneNum%></h3>

            <form action="/reserve" method="post">
                <input style="display: none;" type="text" name="docName" value="<%= searchResults.name%>">
                <input style="display: none;" type="text" name="docSpec" value="<%= searchResults.speciality%>">
                <input style="display: none;" type="text" name="docLoc" value="<%= searchResults.location %>">
                <input style="display: none;" type="text" name="timeFrom" value="<%= time%>">
                <input style="display: none;" type="text" name="timeTo" value="<%= (parseInt(time)+100).toString() %>">
                <input style="display: none;" type="text" name="day" value="<%= dateTime %>">
                <input style="display: none;" type="text" name="phone" value="<%= searchResults.phoneNum %>">
                <input type="submit" value="Book Appointment">
            </form>
        </section>
        <br>
        <% }) %>
    </main>
    <footer>

        <%- include('../../partials/layout/footer') %>
    </footer>
</body>

</html>