<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/layout/head')  %>
    <link rel="stylesheet" href="/css/SMACSS/modules/editprofile-modles.css">
    <title>Edit your account</title>
</head>

<body>
    <header>

        <%- include('../../partials/layout/header')  %>
    </header>
    <main>
        <section  id="editsection">
           
            <form  method= "post" action="/editprofile?_method=PUT" >
                <fieldset>
                    <legend>Edit Your Profile</legend>

                    <label for="First_Name"><b>First Name</b></label>
                    <input type="text" placeholder="Enter New First_Name" name="firstName"  value="<%=user[0].patient_first_name%>"  ><br>

                    <label for="Last_Name"><b>Last Name </b></label>
                    <input type="text" placeholder="Enter New Last_Name" name="lastName" value="<%=user[0].patient_last_name%>"  ><br>


                    <label for="gender"><b>  Gender  </b></label>
                    <input type="text" placeholder="Enter New Gender" name="gender" value="<%=user[0].gender%>"  ><br>

                    
                    <label for="dateOfBirth"><b> Date Of Birth </b></label>
                    <input type="text" placeholder="Enter New Birthday" name="dateOfBirth" value="<%=user[0].date_of_birth%>"  ><br>

                    
                    <label for="email"><b> Email </b></label>
                    <input type="email" placeholder="Enter New E-mail" name="email" value="<%=user[1].email%>"  ><br>

                    <label for="password"><b>Password</b></label>
                    <input type="password" placeholder="Enter New Password" name="password" required><br>

                    <input type="submit" value="Update">

                </fieldset>
            </form>
        </section>
    </main>
    <footer>

        <%- include('../../partials/layout/footer')  %>
    </footer>
</body>

</html>