<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../../partials/layout/head')  %>
    <title>Your Profile</title>
</head>

<body>
    <header>

        <%- include('../../partials/layout/header')  %>
    </header>
    <main>
        <section>

            <div >
                <img src= />
            </div>
            <h2>Welcome <%=data.name %></h2>
            <p>
                <br>
                <b> Your Name</b><br> <%=data.name %>
            </p><br>
            <p>
                <b> Your Gender</b><br> <%=data.gender %>
            </p><br>
            <p>
                <b>Login Email</b><br>  <%=data.emailAddress %>
            </p><br>
            <p><a href="/logout">Logout</a></p>
        </section>

        
    </main>
    <footer>

        <%- include('../../partials/layout/footer')  %>
    </footer>
</body>

</html>